<link rel="stylesheet" href="../../style.css">
<link rel="stylesheet" href="footer.css">

<div class="content-footer">
    <div class="lang">
        <a href="#" class="active">Tiếng việt</a>
        <a href="#">English (UK)</a>
        <a href="#">中文(台灣)</a>
        <a href="#">한국어</a>
        <a href="#">日本語 </a>
        <a href="#">Français (France) </a>
        <a href="#">ภาษาไทย </a>
        <a href="#">Español </a>
        <a href="#">Português (Brasil) </a>
        <a href="#">Deutsch </a>
        <a href="#">Italiano </a>
        <a href="#" class="add">+</a>
    </div>
    <div class="other">
        <a>Đăng ký</a>
        <a>Đăng nhập</a>
        <a>Messenger</a>
        <a>Facebook Lite</a>
        <a>Watch</a>
        <a>Danh bạ</a>
        <a>Trang</a>
        <a>Hạng mục</a> 
        <a>Trang</a>
        <a>Địa điểm</a>
        <a>Trò chơi</a>
        <a>Vị trí</a>
        <a>Marketplace</a>
        <a>Nhóm</a>
        <a>Instagram</a>
        <a>Địa phương</a>
        <a>Trang gây quỹ</a>
        <a>Dịch vụ</a>
        <a>Giới thiệu</a>
        <a>Tạo quảng cáo</a>
        <a>Tạo Trang</a>
        <a>Nhà phát triển</a>
        <a>Tuyển dụng</a>
        <a>Quyền riêng tư</a>
        <a>Cookie</a>
        <a>Lựa chọn quảng cáo</a>
        <a>Điều khoản</a>
        <a>Trợ giúp</a>
        <a>Cài đặt</a>
        <a>Nhật ký hoạt động</a>
    </div>
    <div class="copyright">
        Facebook © 2020
    </div>
</div>