*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    background-color: #2F5B95;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
}
.main{
    background: linear-gradient(white, #D3D8E8);
}
.footer{
    background-color: white;
}