<link rel="stylesheet" href="../../style.css">
<link rel="stylesheet" href="header.css">

<div class="content">
    <div class="logo">facebook</div>
    <div class="form">
        <div class="login">
            <div class="input">
                <label>Email hoặc điện thoại</label>
                <input type="text">
            </div>
            <div class="input">
                <label>Mật khẩu</label>
                <input type="password">
            </div>
            <div class="input submit">
                <button class="btn-submit">Đăng nhập</button>
            </div>
        </div>
        <div class="other">
            <a href="#">Quên tài khoản ?</a>
        </div>
    </div>
</div>